/* Navbar.css */

/* Navbar.css */

.navbar-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Pastikan navbar selalu berada di atas konten */
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent; /* Ubah menjadi transparan */
    padding: 10px 0px; /* Sesuaikan padding */
}

.navbar-items.scrolled {
    background-color: #fff; /* Ganti warna latar belakang saat di-scroll */
}

.navbar-logo {
    width: 30%;
}

.navbar-logo img {
    width: 20%; /* Sesuaikan lebar logo sesuai kebutuhan */
    margin-left: 40px;
}

.menu-navbar {
    display: flex;
    align-items: center;
}

.toggle-button {
    font-size: 1.5em;
    cursor: pointer;
    display: none; /* Sembunyikan tombol toggle secara default */
}

.nav-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-right: 20px;
}

.nav-menu li {
    margin-right: 30px;
    border: 3px solid transparent; /* Tambahkan border dengan ketebalan 4px dan warna transparan */
    padding: 5px; /* Tambahkan padding untuk memperluas area yang terkena hover */

}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.nav-menu li a:hover {
    color: #ffffff; /* Ubah warna teks saat tombol dihover */
}

/* Mengubah warna latar belakang saat tombol dihover */
/* Navbar.css */

.nav-menu li:hover {
    background-color: #3784F8; /* Ganti warna latar belakang saat tombol dihover */
    border-radius: 5px;
    transform: scale(1.1); /* Perbesar elemen saat dihover */
    transition: transform 0.3s ease; /* Animasikan perubahan ukuran */
    box-sizing: border-box; /* Pastikan ukuran border masuk ke dalam ukuran elemen */
}


/* Media query untuk menampilkan tombol toggle hanya pada tampilan responsif */
@media (max-width: 768px) {
    .toggle-button {
        display: block; /* Tampilkan tombol toggle */
    }

    .nav-menu {
        display: none; /* Sembunyikan menu secara default */
        justify-content: center;
    }

    .navbar-logo img {
        width: 45%; /* Sesuaikan lebar logo sesuai kebutuhan */
        margin: 0  auto; /* Center logo */  
        
    }
    
    .nav-menu.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px; /* Sesuaikan jarak dengan Navbar */
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .nav-menu.open li {
        margin-right: 0;
        margin-bottom: 10px;
        
    }

    

    .nav-menu.open li:hover {
        background-color: #3784F8; /* Ganti warna latar belakang saat tombol dihover */
        border-radius: 5px;
        box-sizing: border-box;
    }
    
}
